## Data description
The data of severity of accident I used is from ArcGIS Metadata form. It concludes 194673 collisions happened in Seattle from 2004 to 2020. 37 attributes have been records on each collision. There are two kinds of severity have been recorded in this data set, injury and prop damage.

                                                                            

## Data features
There are several factors can be used to predict the sevrity of the collision: total number of vehicle involved in the collision, weather and road condition.
Using these factors, we can cluster the collision based on these factors whetherit is injury or drop damage using k-Means methods.

## Relations between number of vehicle and the severity of accidents
There are 172606 accidents have been recorded with known weather condition, road condition and number of vehicle. If the number of vehicle is high, we predict there will be a more serious accidents. We can see that, for all prop damage accidents, about 82% accidents with a vehicle number of 2. But for all injury accidents, 62% accidents with a vehicle number of 2. The fact indicates that severity is sensitive to the number of vehicle.

In [1]:
import pandas as pd
import numpy as np
dat = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')

/Users/ziyuli/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
dt = dat[['WEATHER','ROADCOND','VEHCOUNT','SEVERITYCODE']]
dt.drop(dt[dt['WEATHER']=='Unknown' ].index, inplace=True)
dt.drop(dt[dt['WEATHER']=='Other' ].index, inplace=True)
dt.drop(dt[dt['ROADCOND']=='Unknown' ].index, inplace=True)
dt.drop(dt[dt['ROADCOND']=='Other' ].index, inplace=True)
dt_clear=dt.dropna()
dt_clear

/Users/ziyuli/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ziyuli/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/ziyuli/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/ziyuli/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

         WEATHER ROADCOND  VEHCOUNT  SEVERITYCODE
0       Overcast      Wet         2             2
1        Raining      Wet         2             1
2       Overcast      Dry         3             1
3          Clear      Dry         3             1
4        Raining      Wet         2             2
5          Clear      Dry         2             1
6        Raining      Wet         2             1
7          Clear      Dry         1             2
8          Clear      Dry         2             1
9          Clear      Dry         2             2
10      Overcast      Dry         2             1
11         Clear      Dry         2             1
12       Raining      Wet         2             1
13       Raining      Wet         2             1
14         Clear      Dry         2             2
16      Overcast      Dry         2             2
17      Overcast      Dry         2             1
18         Clear      Dry         3             2
20         Clear      Dry         2             2
21         Clear      Dry         3             2
22         Clear      Dry         2             1
24         Clear      Dry         2             2
25         Clear      Dry         1             2
26      Overcast      Wet         2             1
27         Clear      Dry         2             1
28         Clear      Dry         2             1
29         Clear      Dry         2             1
30       Raining      Wet         2             1
31         Clear      Dry         2             1
32         Clear      Dry         2             1
...          ...      ...       ...           ...
194640  Overcast      Wet         1             2
194641     Clear      Dry         2             1
194642     Clear      Dry         2             1
194643     Clear      Dry         2             1
194644     Clear      Dry         2             1
194645     Clear      Dry         2             2
194647   Raining      Wet         1             2
194648   Raining      Wet         2             1
194649     Clear      Dry         3             2
194650     Clear      Dry         5             2
194651     Clear      Wet         1             1
194652  Overcast      Wet         2             1
194653  Overcast      Wet         6             2
194656     Clear      Dry         1             2
194657   Raining      Wet         2             1
194658   Raining      Wet         3             1
194659   Raining      Wet         2             1
194660   Raining      Wet         1             2
194661     Clear      Dry         2             2
194662     Clear      Dry         2             1
194663   Raining      Wet         2             2
194664     Clear      Dry         3             1
194665     Clear      Dry         2             1
194666     Clear      Wet         2             2
194667   Raining      Wet         1             1
194668     Clear      Dry         2             2
194669   Raining      Wet         2             1
194670     Clear      Dry         2             2
194671     Clear      Dry         1             2
194672     Clear      Wet         2             1

[172606 rows x 4 columns]

In [68]:
df = dt_clear.groupby(['SEVERITYCODE'])['VEHCOUNT'].value_counts(normalize=True)
df =df.to_frame()
df

                       VEHCOUNT
SEVERITYCODE VEHCOUNT
1            2         0.828271
             1         0.094921
             3         0.062203
             4         0.011261
             5         0.002247
             6         0.000720
             7         0.000206
             8         0.000086
             0         0.000026
             9         0.000026
             11        0.000026
             12        0.000009
2            2         0.629062
             1         0.245393
             3         0.096725
             4         0.019106
             5         0.004607
             0         0.003375
             6         0.001053
             7         0.000393
             9         0.000107
             8         0.000089
             11        0.000054
             10        0.000036

In [66]:
df.columns

Index(['VEHCOUNT'], dtype='object')